# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages in Data Science
- Become familiar with common tools in Data Science
- Practice using Jupyter Notebooks

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Pytorch
3. Tensorflow

|Data Science Tools|
|------------------|
|Hadoop|
|Spark|
|Pandas|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Sean